.gifSize {
    max-width: 250px;
    max-height: 250px;
}

.positioned-left {
    margin-top: -285px;
    margin-right: 150px;
}

.positioned-right {
    margin-top: -285px;
}

.border {
    border: solid 1px black;
}