 /*  Maintain a consistent gif size when loading in from API */
 
 .gifSize {
     max-width: 275px;
     max-height: 275px;
 }
 /* adjust the posiiton of the weather info and gif */
 
 .positioned-left {
     margin-top: -272px;
     margin-right: 149px;
 }
 
 .positioned-right {
     margin-top: -292px;
 }
 /* border class to see final placement of div comment out or delete later */
 
 .border {
     border: solid 1px black;
 }